@model NewFlucompMVC.Models.PostModel
<div class="post">
    <div class="info">
        <span class="postTitle">@Model.Title</span>
        <br />
        <span class="postInfo">@Model.DatePosted.ToString("f") &ndash; @Model.Author</span>
    </div>
    <div class="postContent">
        @Html.Raw(@Model.Contents)
    </div>
</div>