@{
    ViewBag.Title = "Home";
    Layout = ViewBag.GetLayout();
    ViewBag.ShowSidebar = false;
}
@{
    Html.RenderPartial("PageTitle");
}
<div id="home" class="contentInner page">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span9">
                    <div class="well">@Html.Raw(Data.Content.Pages["Home"].Contents["Summary"].Value)</div>
                    <div class="well">
                        @Data.Content.Pages["Home"].Contents["Focus"].HtmlValue
                    </div>
                    <div class="well">
                        <h3>@Data.Content.Pages["Home"].Contents["BlogTitle"].Value</h3>
                        @{
                            Html.RenderPartial("~/Views/Blog/Post.cshtml", new NewFlucompMVC.Models.PostModel()
                            {
                                Author = "Vince Matonis",
                                Title = "EngiCalc Update",
                                DatePosted = DateTime.Parse("4/30/2013 1:00 PM"),
                                Contents = "<p>We will be releasing the PipeEngicalc Alpha version on May 7th, 2013.</p><p>" +
                                "We have also pushed updates to the website and AbiConvert.</p>"
                            });
                        }
                        @{
                            Html.RenderPartial("~/Views/Blog/Post.cshtml", new NewFlucompMVC.Models.PostModel()
                            {
                                Author = "Vince Matonis",
                                Title = "Short Update",
                                DatePosted = DateTime.Parse("4/27/2013 4:00 PM"),
                                Contents = "<p>We are making steady progress on the engineering calculator; a prototype version " +
                                "is scheduled for release on May 1st, 2013.</p><p>" +
                                "AbiConvert has been updated to include two new categories of units: Heat Capacity/Enthalpy " +
                                "and Heat-Transfer Coefficients.</p>"
                            });
                        }
                        @{Html.RenderPartial("~/Views/Blog/Post.cshtml", new NewFlucompMVC.Models.PostModel()
               {
                   Author = "Vince Matonis",
                   Title = "New Version of AbiConvert",
                   Contents = "<p>This version adds an auto-complete feature which allows you to convert units within a " +
                   "category without using your mouse. Just type a value, press space, start typing the unit name " +
                   "and use the arrow keys to select your unit, press enter; repeat for the to unit.</p>" +
                   "<p>We are adding a batch of new units soon, as well as releasing an alpha version of our Engineering Calculator" +
                   " (name T.B.D.).</p>",
                   DatePosted = DateTime.Parse("Wednesday, April 24, 2013 5:00 PM")

               });}
                    </div>
                </div>
                <div class="span3">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span12 well">
                                    <h3>Featured Product</h3>
                                    @{NewFlucompMVC.Models.ProductInfo prod = ViewBag.FeaturedProduct;}
                                    <div style="display: inline">
                                        <a href="@prod.Url" class="thumbnail" style="width: 12em; height: 10em;">
                                            <img class="productImg" src="@Url.Content(prod.ImageSrc)" alt="abiconvert"/>
                                        </a>
                                    </div>
                                    <div style="display: inline">
                                        @Html.Raw(prod.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
