<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title - FluComp</title>
	<link rel="stylesheet" href="@Url.Content("~/Include/css/home.css")" type="text/css" />
	<script src="http://cdn.flucomp.com/scripts/jquery.tools.min.js" type="text/javascript"></script>
	<script src="@Url.Content("~/Include/js/home.js")" type="text/javascript"></script>
	<meta name="description" content="Flucomp Enterprises, Inc. has been providing CFD services and programming expertise since 2004." />
	<meta name="keywords" content="cfd, computational fluid dynamics, programming, engineering, unit converter, flucomp" />
	<meta name="author" content="Vince Matonis" />
	<meta charset="utf-8" />
	<script type="text/javascript">
		curTab = '@ViewBag.Title';
	</script>
	<!--Begin Analytics import-->
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35747838-1']);
		_gaq.push(['_setDomainName', 'flucomp.com']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<!--End Analytics import-->
</head>
<body>
	<div id="top">
		<div id="banner" class="wrapper">
			<!--
			TODO: Needs to be changed 'Flucomp' to 'FluComp'
			-->
			<img src="@Url.Content("~/Include/img/logo.png")" alt="Flucomp Enterprises" id="bannerImg"/>
		</div>
		<div class="border">
		</div>
		<div id="navigate">
			<div id="nav" class="wrapper">
				<!--Begin navigation render-->
				@{Html.RenderPartial("NavMenu", (NewFlucompMVC.Models.NavigationModel)ViewBag.NavMenu);}
				<!--End navigation render-->
			</div>
		</div>
	</div>
	<div id="bottom">
		<!--<div id="constructionNotice" class="wrapper">
			<img src="@Url.Content("~/Include/img/warning.png")" alt="Warning"/>
			<span>This site is currently under construction!</span>
		</div>-->
		<div id="contentArea" class="wrapper">
			<!--Begin content render-->
			@RenderBody()
			<!--End content render-->
		</div>
	</div>
	<div id="footer">
		<div id="footContent" class="wrapper">
			<table id="footerTable">
				<tr>
					<th>
						Products
					</th>
					<th>
						Quick Links
					</th>
					<th>
						About
					</th>
				</tr>
				<tr>
					<!--Products-->
					<td>
						<ul>
							<li><a href="@Url.Content("~/Converter")">AbiConvert</a></li>
						</ul>
					</td>
					<!--Quick Links-->
					<td>
					</td>
					<!--[Section 3]-->
					<td>
						<!--badges from http://venturas.org/badges.html -->
						<!--<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fflucomp.com%2FnewDesign">
							<img src="@Url.Content("~/Include/img/valid_html5_blue.png")" alt="HTML5 Valid" />
						</a><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fflucomp.com%2FAreas%2FnewDesign%2FInclude%2Fcss%2Fhome.css">
							<img src="@Url.Content("~/Include/img/valid_css3_blue.png")" alt="CSS3 Valid" />
						</a>-->
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
